body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

h5,
p,
input {
    font-family: "Roboto";
}

.authForm {
    background-color: #d5d6d8;
    width: 25vw;
}

.authForm input {
    width: 90%;
}

.pointer {
    cursor: pointer;
}

@media (max-width: 640px) {
    .authForm {
        width: 80vw;
    }
}

@media (max-width: 1028px) {
    .authForm {
        width: 40vw;
    }
}
